In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('train.csv')
df.head(5)

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189
3,1338232,1,55,2139,339.50,437.53,0,0,54
4,1448490,1,55,2631,243.50,242.50,0,0,40

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456548 entries, 0 to 456547
Data columns (total 9 columns):
id                       456548 non-null int64
week                     456548 non-null int64
center_id                456548 non-null int64
meal_id                  456548 non-null int64
checkout_price           456548 non-null float64
base_price               456548 non-null float64
emailer_for_promotion    456548 non-null int64
homepage_featured        456548 non-null int64
num_orders               456548 non-null int64
dtypes: float64(2), int64(7)
memory usage: 31.3 MB

# Numero de centrais de distribuição

In [22]:
df['center_id'].unique()

array([ 55,  24,  11,  83,  32,  13, 109,  52,  93, 186, 146,  57, 149,
        89, 124, 152,  97,  74, 108,  99,  66,  94,  91,  20,  34, 137,
        92, 126,  36, 162,  75, 177,  27, 157, 106,  64, 129,  14,  17,
       153, 139, 161,  81,  26,  73,  50, 104,  42, 113, 145,  53,  72,
        67, 174,  29,  77,  41,  30,  76,  59,  88, 143,  58,  10, 101,
        80,  43,  65,  39, 102, 110, 132,  23,  86,  68,  51,  61],
      dtype=int64)

In [25]:
df['center_id'].nunique()

77

# Média de pedidos Total

In [32]:
df['num_orders'].mean()

261.8727603669275

## Maximo e Minimo de pedidos realizados por registro

In [30]:
df['num_orders'].max()

24299

In [33]:
df['num_orders'].min()

13

# Quais são os centros que mais recebem pedidos

In [9]:
df.groupby('center_id').count()['num_orders']

center_id
10     7015
11     6801
13     7046
14     6041
17     6333
20     6671
23     6434
24     5233
26     5085
27     6853
29     5438
30     6666
32     5969
34     5892
36     6776
39     5377
41     4083
42     5846
43     6970
50     5885
51     6880
52     6993
53     6538
55     5146
57     4501
58     5296
59     6716
61     5855
64     5547
65     6057
       ...
93     5763
94     5292
97     5983
99     6293
101    6172
102    4939
104    6687
106    5715
108    6843
109    6296
110    5712
113    5379
124    6072
126    6389
129    5865
132    6788
137    6894
139    4627
143    5938
145    5732
146    6164
149    5021
152    5920
153    6696
157    5721
161    5591
162    4366
174    6891
177    5296
186    5528
Name: num_orders, Length: 77, dtype: int64